<mat-card>
  <mat-card-content>
    <div>
      <img src="assets/themify-icons/SVG/link-result.svg" height="200px" width="200px" style="object-fit: cover;">  
    </div>
    <span style="font-size: 14px;">Account is linked to your Finvu handle <p style="color: #1168B4;">{{username}}</p></span>
    <h5 class="h5">Accounts Linked</h5>
    <span class="label-size">Click NEXT to approve pending consent</span>
    <div style="margin-top: 10px;">
      <a href="javascript:;" class="label-size" (click)="onLinkAccountClick()" style="color: #1168B4;" style="font-weight: 500">ADD ANOTHER ACCOUNT</a>
    </div>
  </mat-card-content>
  <mat-card-actions style="position: absolute; bottom: 30px;justify-content: space-between;">
    <button mat-flat-button class="button-with-no-background light-ripple" style="margin-right: 4px;" (click)="onLinkAccountClick()">Cancel</button>
    <button mat-raised-button class="button-class ripple" (click)="onOkClick()">Next</button>
  </mat-card-actions>
</mat-card>  