<mat-card>
  <mat-card-content>
      <div align="center" style="padding-top: 20px;padding-bottom: 20px;">
        <img src="assets/themify-icons/SVG/mobile-verified.svg" style="width:209px;height:70px;">
      </div>
      <div style="margin-top: 20px; margin-bottom: 20px; font-size: 13px;">
        <span>You have not verified mobile number. You will receive an OTP on mobile number, Please proceed to Verify Mobile number now.</span>
      </div>
      <h5 class="h5">Verify Mobile</h5>
      <form [formGroup]="mobileOtpForm">
        <mat-form-field appearance="outline">
          <mat-label>Enter mobile number</mat-label>
          <input matInput placeholder="Enter mobile number" formControlName="mobile" autocomplete="off"
               (keydown.space)="$event.preventDefault()" maxlength=10 minlength=10 type="number">
          <mat-error *ngIf="mobileOtpForm.get('mobile').hasError('required')">
            Please enter mobile number          
          </mat-error>
          <mat-error *ngIf="mobileOtpForm.controls['mobile'].hasError('pattern')">
            Please enter valid mobile number              
          </mat-error>
          <mat-hint>Registered mobile no linked to your accounts</mat-hint>
        </mat-form-field>
       <div class="align-button">
        <button mat-raised-button class="button-class ripple" (click)="submitForm()">Next</button>
       </div>
    </form>
  </mat-card-content>
</mat-card>


