<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
    <div style="margin-top: 15px; font-size: 13px;">
      <span>You will receive an OTP on mobile number {{mobileNumber}},enter the same to continue</span>
    </div>
    <h5 class="h5">Verify Mobile</h5>
    <form [formGroup]="webviewForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter OTP</mat-label>
        <input matInput placeholder="Enter OTP" formControlName="otp" autocomplete="off" 
              (keydown.space)="$event.preventDefault()" maxlength="6" minlength="6" type="number">
        <mat-error *ngIf="webviewForm.get('otp').hasError('required')">
          Otp is required                
        </mat-error>
      </mat-form-field>
      <div style="font-size: 12px;margin-top: 8px;">
        <a href="javascript:;" class="text-inverse" (click)="webviewOtpRequest()">Resend OTP</a>
      </div>
      <div class="align-button">
        <button mat-raised-button class="button-class ripple" (click)="submitForm()">Next</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
