.mat-card {
  width: 320px;
  height: 550px;
  display: block;
  margin-left:auto;
  margin-right:auto;  
  margin-top: 20px;
  border-radius: 0.5rem;
  vertical-align: middle;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
}
::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  box-shadow: inset 0 0 4px #707070;
}
::-webkit-scrollbar-thumb {
  background: rgb(150, 149, 149);
  border-radius: 10px;
}
.mat-card:hover {
  overflow-y : auto;
}

.mat-form-field {
  font-size: 12px;
  width: 100%;
  margin-bottom: 10px;
}

.mat-form-field-appearance-fill {
  border: 1px solid darkgray;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-wrapper {
  padding-bottom: 0;
}

/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: grey;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #13397F;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label { 
  color: #13397F; 
}

.mat-form-field.ng-invalid.ng-touched {
  animation: example;
  animation-duration: 0.3s;
  margin-bottom: 20px;
}
@keyframes example {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 20px;
  }
}

.mat-form-field.ng-invalid {
  animation: example;
  animation-duration: 0.2s;
  margin-bottom: 5px;
}
@keyframes example {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 20px;
  }
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
//   padding: 0.7em 0 0.7em 0 !important;
//   top: -0.15em;
// }

.span-suffix-position {
  position: relative; 
  bottom: 3px;
  font-size: 12px;
  color: grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #305fb6 radial-gradient(circle, transparent 1%, #305fb6 1%) center/15000%;
}
.ripple:active {
  background-color: #1f4a9b;
  background-size: 100%;
  transition: background 0s;
}

.light-ripple {
  background-position: center;
  transition: background 0.8s;
}
.light-ripple:hover {
  background: #d5d6da radial-gradient(circle, transparent 1%, #bfbfc2 1%) center/15000%;
}
.light-ripple:active {
  background-color: #bcbcc0;
  background-size: 100%;
  transition: background 0s;
}
/* Button style */
.button-class {
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  font-size: 12px;
  cursor: pointer;
  color: white;
  background-color: #13397F;
  box-shadow: 0 0 4px #999;
  outline: none;
  width: 150px;
  text-transform: uppercase;
}

.button-with-no-background {
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  font-size: 12px;
  cursor: pointer;
  color: #13397F;
  background-color: white;
  outline: none;
  width: 150px;
  text-transform: uppercase;
}

.align-button {
  position: absolute;
  right: 25px;
  bottom: 20px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.02 !important;
  background-color: #13397F!important;
  font-size: 12px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #13397F;
}

.h5 {
  color: #4F4F4F;
  margin-top: 15px;
}

#copyright {
  position: absolute;
  bottom: 10px;
  font-size: 12px; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.label-size {
  font-size: 12px
}

.label-size-with-color {
  font-size: 12px;
  color: #4F4F4F;
  margin-top: 15px;
}

.change-color:hover, .change-color:focus, .change-color:active{
  background-color: #F0F0F0;
  cursor: pointer;
  padding: 3px;
}

.list-ripple {
  background-position: center;
  transition: background 0.8s;
}
.list-ripple:hover {
  background: #F0F0F0 radial-gradient(circle, transparent 1%, #e7e6e6 1%) center/15000%;
}
.list-ripple:active {
  background-color: #ece8e8;
  background-size: 100%;
  transition: background 0s;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 0px;
  padding: 5px;
}

.image-container {
  display: flex;
  align-items: center;
}

.bottom-buttons { 
  margin-top: 10px; 
  margin-bottom: 10px; 
  position: absolute; 
  justify-content: space-between;
}

.a {
  color: #1168B4;
  font-weight: bold;
}
  
.alert{
  width:200px
}

.input-group {
  margin-top: 10px;
  font-size: 12px;
}

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}

.loading-dots {
  text-align: center;
  width: 100%;
  
  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #1168B4;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
    
    &:nth-child(2) {
      animation-delay: .5s;
    }
    
    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

hr.divider { 
   margin-top: 0em;
   margin-bottom: 0em;
} 

.account-row {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  right: 0;
  flex-wrap: wrap;
}
 
* {
  box-sizing: border-box;
}

.img-class {
  width: 25px;
  height: 25px;
}

.caption {
  font-size: 12px;
  display: block;
  font-weight: 10px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  height: 80px;
  padding: 10px;
  border:2px solid #F1F2F7;  
  text-align: center;
  vertical-align: top;
}

.column:hover {
  background: #e5e5e5;
  border-bottom: 1.5px solid #1168B4;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: center;
}

.example-right-align {
  text-align: right;
  color: rgb(94, 93, 93);
}
  
input.example-right-align {
  -moz-appearance: textfield;
}