<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
    <h5 class="h5">Reject Consent Request</h5>
    <p class="label-size" style="margin-top: 15px;">You are rejecting the consent request from <b>{{fiuName}}</b>, Press Confirm to proceed.</p>
  </mat-card-content>
  <mat-card-actions style="position: absolute; bottom: 30px;justify-content: space-between;">
    <button mat-flat-button class="button-with-no-background light-ripple" style="margin-right: 4px;" (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button class="button-class ripple" (click)="okClick()">Confirm</button>
  </mat-card-actions>
</mat-card>


