<mat-card>
    <mat-card-content>
        <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
        <div style="margin-top: 15px; font-size: 13px;">
            <span>Register with Finvu to link your accounts and approve data sharing consents</span>
        </div>
        <h5 class="h5">Sign Up</h5>
        <form [formGroup]="registerForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Finvu handle</mat-label>
                <input class="example-right-align" matInput placeholder="Enter Finvu handle" formControlName="aaId" autocomplete="off"
                    (keydown.space)="$event.preventDefault()" maxlength="32">
                <span matSuffix class="span-suffix-position" style="font-size: 12px;">@finvu</span>
                <mat-error *ngIf="registerForm.get('aaId').hasError('required')">
                    Finvu handle required               
                </mat-error>
                <mat-error *ngIf="registerForm.get('aaId').hasError('pattern')">
                    Min 6-30 chars. Letters, numbers, hyphen(-), period(.) only
                </mat-error>
                <mat-hint>Set your unique Finvu handle</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Enter mobile number</mat-label>
                <input matInput placeholder="Enter mobile number" formControlName="mobile" autocomplete="off"
                    minlength=10 maxlength=10 type="number" (keydown.space)="$event.preventDefault()">
                <mat-error *ngIf="registerForm.get('mobile').hasError('required')">
                    Mobile is required
                </mat-error>
                <mat-error *ngIf="registerForm.get('mobile').hasError('pattern')">
                    Please enter valid mobile number
                </mat-error>
                <mat-hint>Registered mobile no linked to your accounts</mat-hint>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Enter 4 digits PIN</mat-label>
                <input matInput placeholder="Enter 4 digits PIN" type="number" 
                        [type]="hide ? 'password' : 'number'" 
                        formControlName="password" autocomplete="off" minlength=4 maxlength=4 
                        (keydown.space)="$event.preventDefault()">
                <mat-icon matSuffix (click)="hide = !hide" style="color: grey;">{{hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="registerForm.get('password').hasError('required')">
                    PIN is required
                </mat-error>
                <mat-error *ngIf="registerForm.get('password').hasError('pattern')">
                    PIN should be 4 digits(0-9) only
                </mat-error>
                <mat-hint>Set a 4 digit PIN to login and approve data sharing requests</mat-hint>
            </mat-form-field>
      
            <mat-form-field appearance="outline">
                <mat-label>Re-enter PIN</mat-label>
                <input matInput placeholder="Re-enter PIN" type="number" [type]="confirmHide ? 'password' : 'number'" 
                      formControlName="reEnterPassword" autocomplete="off" minlength=4 maxlength=4 (keydown.space)="$event.preventDefault()">
                <mat-icon matSuffix (click)="confirmHide = !confirmHide" style="color: grey;">{{confirmHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="registerForm.get('reEnterPassword').hasError('required')">
                    Confirm PIN is required
                </mat-error>
                <mat-error *ngIf="registerForm.get('reEnterPassword').hasError('pattern')">
                    Confirm PIN should be 4 digits(0-9) only
                </mat-error>
                <mat-error *ngIf="registerForm.get('reEnterPassword').hasError('confirmedValidator')">
                    Passwords do not match
                </mat-error>
                <mat-hint>Re-confirm your PIN</mat-hint>
            </mat-form-field>
            <div style="font-size: 12px;">
                <span class="text-muted">By continuing, you agree to our <a href="https://finvu.in/terms" target="_blank" 
                    style="color: #1168B4">Terms & Conditions</a></span>
            </div>
            <div class="row bottom-buttons" style="margin-top: 20px;">
                <button mat-flat-button class="button-with-no-background light-ripple" style="margin-right: 5px;" (click)="onLoginClick()">Login</button>
                <button mat-raised-button class="button-class ripple" (click)="onRegisterClick()">Register</button>
            </div>
            <div style="font-size: 12px; margin-top: 70px;">
                <span>Finvu is a brand of Cookiejar Technologies Pvt Ltd, a regulated and licensed NBFC AA by RBI</span>
            </div>
        </form>
    </mat-card-content>
  </mat-card>