<mat-card>
  <mat-card-content>
    <img mat-card-image src="assets/images/search bank graphic.png" height="250px" style="object-fit: cover;">  
    <span style="font-size: 14px;">Registration is complete.<br/> Continue to link your accounts</span>
    <h5 class="h5">All Set!</h5>
    <span style="font-size: 12px;margin-top: 10px;">Hey, You dont have any accounts linked Add account to continue further</span>
  </mat-card-content>
  <mat-card-actions style="position: absolute; bottom: 30px;justify-content: space-between;">
    <button mat-flat-button class="button-with-no-background light-ripple" style="margin-right: 4px;" (click)="addLaterClick()">I’LL ADD LATER</button>
    <button mat-raised-button class="button-class ripple" (click)="onOkClick()">Add Account</button>
  </mat-card-actions>
</mat-card>  