<mat-card>
  <mat-card-content>
    <form [formGroup]="consentRequestForm">
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-2">
          <img src={{icon}} width="45">
        </div>
        <div class="col-10">
          <div style="color: #1168B4; font-size: 18px;"><b>{{messageText}}</b></div>
          <div style="font-size: 10px;">Requires your consent to access account information</div>
          <div class="text-muted" style="font-size: 10px;">Requested on {{messageTimestamp | date:'d MMM y'}}</div>
        </div>
      </div>
      <hr class="divider">
      <div style="color: #5f5e5e; font-size: 13px;margin-top: 10px; font-weight: 500;">Details of access on the account information</div>
      <div class="flex-container" style="margin-top: 10px; font-size: 12px;">
        <div class="image-container" style="padding-left: 0;">
          <img src='assets/themify-icons/SVG/dynamic-feed.svg'>
        </div>
        <div *ngIf="onetime">
          <div style="font-weight: 500">ONETIME</div>
          <div class="text-muted">Information will be fetched ONETIME</div>
        </div>
        <div *ngIf="periodic">
          <div style="font-weight: 500">PERIODIC</div>
          <div class="text-muted">Information will be fetched {{value}} times a {{unit}}</div>
        </div>
      </div>
      <div class="flex-container" style="margin-top: 5px; font-size: 12px;">
        <div class="image-container" style="padding-left: 0;">
          <img src='assets/themify-icons/SVG/date-range-black.svg'>
        </div>
        <div>
          <div style="font-weight: 500">From {{ fromDate | date:'d MMM y' }} to {{ toDate | date:'d MMM y' }}</div>
          <div class="text-muted" style="text-transform: lowercase">{{consentTypes}} of the account</div>
        </div>
      </div>
      <div style="color: #1168B4; font-weight: 500;font-size: 10px" (click)="showDiv = !showDiv"><a href="javascript:;">VIEW MORE</a></div>
      <div *ngIf="showDiv">
        <div class="flex-container" style="margin-top: 5px; font-size: 12px;">
          <div class="image-container" style="padding-left: 0;">
              <img src='assets/themify-icons/SVG/stream-black.svg'>
          </div>
          <div>
            <div style="font-weight: 500">{{purpose}}</div>
            <div class="text-muted">Purpose of access</div>
          </div>
        </div>
        <div class="flex-container" style="margin-top: 10px; font-size: 12px;">
          <div class="image-container" style="padding-left: 0;">
            <img src='assets/themify-icons/SVG/schedule-black.svg'>
          </div>
          <div>
            <div style="font-weight: 500">{{expireTime | date:'d MMM y'}}</div>
            <div class="text-muted">Consent Expiry</div>
          </div>
        </div>
        <div class="flex-container" style="margin-top: 5px; font-size: 12px;">
          <div class="image-container" style="padding-left: 0;">
            <img src='assets/themify-icons/SVG/data-exploration.svg'>
          </div>
          <div>
            <div style="font-weight: 500">{{consentMode}} for {{dataLifeValue}} {{dataLifeUnit}}.</div>
            <div class="text-muted">Consent data access</div>
          </div>
        </div>
      </div>  
      <hr class="divider" style="margin-top: 5px; margin-bottom: 5px;">
      <div style="color: #5f5e5e; margin-top: 10px; font-size: 14px; font-weight: 500;">SELECT ACCOUNTS</div>
      <div style="color: #5f5e5e; font-size: 10px;">Information will be accessed from selected accounts</div>
      <div *ngIf="showAccounts" style="color: #5f5e5e; margin-top: 10px; font-size: 14px; font-weight: 500;">No Accounts Linked</div>
      <div class="row">
        <div class="account-row" *ngFor="let item of accountsWithIcons;" style="margin-top: 10px; font-size: 11px;">
            <div class="col-2 image-container">
              <img src={{item.icon.icon}} width="30">
            </div>
            <div class="col-7" style="text-transform: uppercase;">
              <div>{{item.fipName}}</div>
              <div class="text-muted">{{item.maskedAccNumber}}</div>
              <div *ngIf="item.accType == 'DEFAULT'" style="font-weight: 500">{{item.FIType}}</div>
              <div *ngIf="item.accType != 'DEFAULT'" style="font-weight: 500">{{item.accType}}</div>
            </div>
            <div class="label-size col-3">
              <div class="form-check" style="align-items: center;display: inline-block;">
                <input class="form-check-input" type="checkbox" formControlName="selectAccount"
                  (change)="onCheckboxChange(item,$event)" [checked]="isSelected(item)" />
              </div>
            </div>
          </div>
        </div>
        <div style="font-size: 11px;padding-top: 5px;padding-bottom: 5px;">
          <span class="messages text-danger" *ngIf="consentRequestForm.controls['selectAccount'].hasError('required')
                          && (consentRequestForm.controls['selectAccount'].dirty 
                          || consentRequestForm.controls['selectAccount'].touched)">
            Please select atleast one account
          </span>
          <span style="float:left;" class="messages text-danger"
            *ngIf="consentRequestForm.controls['selectAccount'].hasError('atleast') ">
            Select atleast one account
          </span>
        </div>
        <div class="row col-12" align="left" style="margin-top: 10px;">
          <a href="javascript:;" style="font-size: 12px; text-transform: uppercase;" (click)="onLinkAccountClick()">Add Account</a>
        </div> 
        <hr class="divider" style="margin-bottom: 5px; margin-top: 5px;">
        <div class="row bottom-buttons">
            <button mat-flat-button class="button-with-no-background light-ripple" style="margin-right: 5px;" (click)="onCancelClick()">Deny</button>
            <button mat-raised-button class="button-class ripple" (click)="submitForm()">Accept</button>
        </div>
    </form>
  </mat-card-content>
</mat-card>