<mat-card> 
  <img class="center" style="margin-top: 50px; width: 100px; height: 100px" [src]="handleStatus === 'ACCEPT' ? 'assets/themify-icons/SVG/verified-user.svg' : 'assets/themify-icons/SVG/remove-moderator.svg'">
  <mat-card-content align="center">
      <p class="label-size" style="margin-top: 30px;"><b>{{fiuName}}</b> has been notified.</p>
      <h5 class="h5" *ngIf="handleStatus === 'ACCEPT'">Consent Accepted !</h5>
      <h5 class="h5" *ngIf="handleStatus === 'DENY'" style="color: #f90e1a;">Consent Denied !</h5>
      <span class="label-size">You will be redirected in {{counterTime$ | async}} secs</span>
      <div style="margin-top: 35px;">
        <button mat-raised-button class="button-class ripple" (click)="onOkClick()">Done</button>
      </div>
      <p class="label-size-with-color">Download FINVU app to manage consents and more !.</p>
      <img class="center" style="width: 100px; height: 30px; object-fit: cover;" src="assets/images/google-play.png">
  </mat-card-content>
</mat-card>
